# Node.js
node_modules/

# Build
.next/
dist/
out/
build/
target/

# Logs
*.log

# npm
package-lock.json

# pnpm
pnpm-lock.yaml

# yarn
yarn.lock

# bun
bun.lock

# dotenv
.env*
!.env.example
!.env.test

# IDEs
.vscode/
.idea/

# swc
.swc/